*{
	margin: 0;
	padding: 0;
}
body, html{
	color: white;
	font-family: 'lato', sans-serif;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}
body{
	background-image: url(C:\Users\rhuzz\Desktop\FOLDERS\paolo);
}
C:\Users\rhuzz\Desktop\FOLDERS\Paolo's Folder\Portfolio\Images